{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/page.css" as="style">
<!-- PRELOAD CDN SCRIPTS -->
<link rel="preconnect" href="https://unpkg.com/popper.js@1" as="script">
<link rel="preconnect" href="https://unpkg.com/tippy.js@4" as="script">
<script src="https://kit.fontawesome.com/ede4451e2e.js" crossorigin="anonymous"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ description or site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="robots" content="index,follow">
<link rel="shortcut icon" href="/img/Idea-Factory.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/img/Idea-Factory.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/img/Idea-Factory.ico">
<!-- BEGIN SOCIAL META DATA -->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ title or site.title }}">
<meta property="og:description" content="{{ description  or site.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}">
{%- if image -%}
  <meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}">
{%- endif -%}
<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o62qt');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJ9KK733Q7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GJ9KK733Q7');
</script>
<!-- ./END SOCIAL META DATA -->
<meta name="theme-color" content="#ffffff">
<title>{{ title or site.title }} | {{ site.author }}</title>
<link rel="stylesheet" href="/css/page.css">
{% if not isFront %}
  <!-- include Normalize for regular text pages -->
  <link rel="stylesheet"  href="/css/normalize.min.css">
{% endif %}